:root{
    --light-color: #D9D9D9;
    --dark-color: #222222;
    --accent-full: rgba(252, 231, 2, 1);
    --accent-trans:rgba(252, 231, 2, .2);
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--light-color);
}

body{
    padding: 5vh;
    background-color: var(--dark-color);
}

nav {
	grid-area: left;
	align-self: center;
	display: block;
	transition: all .2s ease-in-out, color 1ms ease-in-out;
	width: 40vw;
	justify-self: flex-start;
}

nav ul li{
    border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 5vh;
	margin: 2vh 0;
	width: 100%;
    list-style: none;
    background-color: var(--accent-trans);
    transition: all 300ms ease, border-radius 1ms, color 1ms;
}

nav ul li a{
    color: var(--light-color);
}

nav ul li:hover,
nav ul li:target{
    background-color: var(--accent-full);
    color: var(--dark-color);
}

nav.fixed {
	position: fixed;
	top: 30vh;
    lefT: 5vw;
    transition: .2s all ease-in-out, 1ms color ease-in-out;
    z-index: 2;
    width: 5vh;
}

nav.fixed > ul{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-evenly;
}

nav.fixed > ul li{
    height: 5vh;
	width: 5vh;
    border-radius: 100px;
    color: transparent;
    background-color: var(--accent-trans);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.fixed ul li:hover,
nav.fixed ul li:target{
    cursor: pointer;
    width: 30vh !important;
    border-radius: 100px;
    background-color: var(--accent-full);
    transition: all .2s ease-in-out;
}

nav.fixed ul li a{
    color: transparent;
}

nav.fixed ul li a:hover,
nav.fixed ul li a:target{
    color: var(--dark-color);
}

nav ul li a {
	display: flex;
	text-decoration: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
    transition: all .2s ease-in-out;
    color: inherit;
}

.selected{
    background-color: var(--accent-full) !important;
    color: var(--dark-color) !important;
}

section{
    scroll-snap-type: y mandatory;
    display: grid;
    grid-template-rows: 10vh 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header" "left left right right";
    min-height: 90vh;
    background-color: var(--dark-color);
}

section > h1 {
	font-size: 3em;
	grid-area: header;
    justify-self: center;
	align-self: center;
}

button{
    background-color: transparent;
    color: vaR(--light-color);
    border: none;
    height: 2em;
    cursor: pointer;
    margin: 2vh 0;
}

img{
    max-height: 30vh;
    border-radius: 15px;
}