#welcome {
    justify-items: center;
    align-content: center;
}

#welcome ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50vh;
}



.portrait-section{
    grid-area: right;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

.portrait-section p:first-child{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1vh;
}

